.container{
    display: grid;
    max-width: var(--breakpoint-2xl);
    margin: auto;
    padding: 16px;
}

.nav__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav__container .nav__header{
    display: flex;
    margin-bottom: 2rem;
    max-width: 150px;
}

.page__container{
    display: grid;
}

.streams__container{
    width: 100%;
    margin-top: 1.5rem;
}

.streams__head{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 1rem;
}

.streams__head h3{
    font-size: 1.6rem;
}

.streams__head p{
    color: var(--gray-600);
}

.hero__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.hero__main, .hero__secondary{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero__main .main__header{
    font-size: 1.6rem;
}

.hero__secondary .main__header{
   font-size: 1.3rem;
}

.hero__secondary .main__header, .hero__main .main__header{
    color: var(--gray-900);
}


.hero__secondary .main__body, .hero__main .main__body{
    color: var(--gray-600);
}

.posts__body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.streams__body{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.stream{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stream .stream__title{
    font-weight: 600;
}

.stream .stream__content{
    color: var(--gray-600);
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em;
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.stream__content_secondary{
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--gray-900);
    font-size: 0.7rem;
    margin-bottom: 14px;
}


@media screen and (min-width : 500px) {

}
  
@media screen and (min-width : 640px) {
  
}
  
@media screen and (min-width : 768px){
   .container{
        display: flex;
        width: 100vw;
        overflow: hidden;
        height: 100vh;
        padding: 0;
   }

   .streams__container{
        margin-top: 0;
        padding : 0 16px 2rem;
    }

   .nav__container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80vw;
        border-right: 1px solid var(--gray-200);
        max-width: 260px;
    }

   .nav__container .nav__header{
        display: flex;
        margin-bottom: 2rem;
    }

    .page__container{
        width: 100%;
        overflow-y: scroll;
    }

    .nav__container, .page__main{
        padding: 2rem 16px;
    }

    .nav__container{
        border-right: 10px;
        border-right: 1px solid var(--gray-200);
    }
}
  
@media screen and (min-width : 1024px){
    .streams__container{
        display: flex;
        flex-direction: column;
        max-width: 240px;
        border-left: 1px solid var(--gray-200);
        padding: 2rem 16px;
    }

    .nav__container{
        max-width: 250px;
    }
    .page__container{
        grid-template-columns: 1fr auto;
        gap: 1rem;
    }
}
  
@media screen and (min-width : 1280px){
    .streams__container{
        max-width: 400px;
    }
    .nav__container{
        max-width: 300px;
    }
}