/*
sm (640px);
md (768px);
lg (1024px);
xl (1280px);
2xl (1536px)*/

.container{

}

.container__head{
    background: var(--gray-100);
}

.container__body{
    max-width: var(--breakpoint-xl);
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.hero__container{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 10px;
    max-width: var(--breakpoint-xl);
    margin: auto;
}

.hero__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.hero__text h1{
    font-size: 5rem;
    font-weight: 600;
}

.hero__text_highlight{
    color: var(--purple-700);
}

.hero__text p{
    font-size: 1.5rem;
    color: var(--gray-900);
}

.hero__image{
    width: 100%;
    max-width: var(--breakpoint-sm);
}

.categories__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 2rem;
    padding-top: 2px
}

.categories__header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categories__header h2{
    color: var(--gray-900);
    font-size: 2rem;
    font-weight: 600;
}

.categories__header p{
    color: var(--gray-600);
}

.posts__body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer{
    padding: 0.5rem 1.5rem 1rem;
    border-top: 1px solid var(--gray-200);
}

.footer__container{
    max-width: var(--breakpoint-xl);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 10px 0;
    max-width: var(--breakpoint-xl);
    margin: auto;
}

.footer__secondary{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color: var(--gray-900);
}

.footer__secondary p{
    cursor: pointer;
}

.secondary__activeText{
    color: var(--purple);
}

@media screen and (min-width : 500px) {
    
}

@media screen and (min-width : 640px) {
    .hero__container{
        flex-direction: row;
        padding: 10px;
    }

}

@media screen and (min-width : 768px){
    .container__head, .container__body{
        padding: 24px;
    }  

    .footer__container{
        flex-direction: row;
        padding: 1rem;
    }
}

@media screen and (min-width : 1024px){
    .container__body{
        display: grid;
        flex-direction: row-reverse;
        gap: 5%;
        padding-top: 3rem;
        width: 100vw;
        justify-content: space-between;
        grid-template-columns: 1fr auto;
    }  

    .posts__container{
        width: 100%;
    }

    .posts__section{
        width: 100%;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .categories__container{
        margin-bottom: 0;
        width: 35vw;
        max-width: 450px;
    }

    .categories__body{
        justify-content: start;
    }
    
    .container__head, .container__body{
        padding: 14px;
    }  
}

@media screen and (min-width : 1280px){
    
    .container__head, .container__body{
        padding: 18px;
    }  
}