.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    max-width: var(--breakpoint-md);
    margin: auto;
}

.container__center{
    justify-content: center;
}

@media screen and (min-width : 1024px){
    .container{
        justify-content: start;
    } 
    .container__center{
        justify-content: center;
    }
}