.container{
    display: grid;
    max-width: var(--breakpoint-2xl);
    margin: auto;
}

.page__container{

}

.streams__container{
    width: 100%;
    display: none;
}

.streams__head{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 1rem;
}

.bestpick__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.streams__body{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.stream{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stream .stream__title{
    font-weight: 600;
}

.stream .stream__content{
    color: var(--gray-600);
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em;
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.stream__content_secondary{
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--gray-900);
    font-size: 0.7rem;
    margin-bottom: 14px;
}

@media screen and (min-width : 500px) {

}
  
@media screen and (min-width : 640px) {
  
}
  
@media screen and (min-width : 768px){
   .container{
        display: flex;
        width: 100vw;
   }

    .page__container{
        width: 100%;
    }

    .nav__container, .page__container, .streams__container{
        padding: 2rem 16px;
    }

    .nav__container{
        min-height: 100vh;
        border-right: 10px;
        border-right: 1px solid var(--gray-200);
    }
}
  
@media screen and (min-width : 1024px){
    .streams__container{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        border-left: 1px solid var(--gray-200);
    }
    .nav__container .nav__header{
        display: flex;
        margin-bottom: 2rem;
    }
    .nav__container{
        max-width: 250px;
    }
}
  
@media screen and (min-width : 1280px){
    .streams__container{
        max-width: 400px;
    }
}